body {
    font-family: 'Open Sans';
    margin: 10px 50px 10px 50px;
    background-color: ivory;
    color: darkblue;
    max-width: 800px;
    padding: 20px;
}

img {
    float: right;
}

h1, h2 {
    font-family: 'Oswald';
}

