body {
    font-family: 'Open Sans';
    margin: 10px 50px 10px 50px;
    background-color: ivory;
    color: darkblue;
}

img {
    float: right;
}

h1, h2 {
    font-family: 'Oswald';
}

.left {
    float: left;
    width: 300px;
}

.right {
    float: right;
    width: 300px;
}

.center {
    margin-left: 300px;
    width: 300px;
}

